.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 10%;
    left: 20%;
}

.cells {
    width: 30%;
    height: 30%;
    border: 1px black solid;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-self: center;
}

.disabled {
    pointer-events: none;
}

.green {
    background-color: #65d259;
}